#projects {
    margin: 6em 2em;
    & .projects-div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1023px) {
    #projects {
        margin: 3em 2em;
        & .projects-div {
        flex-direction: column;
        }
    }
    
}